*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}


html, body {
    background-color: #a2bdf0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
.wrapper{
    width:60vw;
    height:100%;
    min-height: 100vh;
    color: var(--colorLight2);
    background-color: #a2bdf0;
    padding-bottom: 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform:uppercase;
    padding-top: 20px;
}

.tab-container {
    width:90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: #dbe2ef80;
    border-radius: 4px;
}

.weather-container{
    margin-block:2rem;
}

.btn{
    all: unset;
    
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
    background-color: #dbe2ef80;
}

.sub-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}


.grant-location-container{
     display:none; 
}

.grant-location-container.active{
    display:flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
    mix-blend-mode:darken;
    transform: scale(1.5);
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}

.grant-location-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    display:none;
}

.user-info-container.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}

.user-info-container img{
    width:90px;
    height:90px;
}

.name p{
        font-size:2rem;
}

.name img{
    width: 30px;
    height:30px;
    object-fit: contain;
}

.user-info-container p[data-temp] {
    font-size:2.75rem;
    font-weight:700;
}

.info-about {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-about .city-info {
    width: 50%;
    padding: 0 auto;
    text-align: center;
}

.city-info .name {
    display: flex;
    justify-content: center;
    
}

.parameter-container{
    width:30%;
    display: flex;
    flex-direction: column;
    /* gap: 10px 20px; */
    /* justify-content: flex-start; */
    align-items: flex-start;
    margin-top: 0.6rem;
}



.parameter{
    width:100%;
    max-width:150px;
    /* background-color: rgba(219, 226, 239, 0.5); */
    background: transparent;
    /* border: 1px solid gray; */
    border-radius: 5px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:5px 0;
    /* justify-content: space-between; */
    align-items: center; 
}   

.parameter img{
    width:50px;
    height:50px;
    mix-blend-mode:darken;

}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight:600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom:1px;
}

.error-404.active{
    display: flex;
}
.error-404{
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-block:4rem;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.error-404 p{
    text-transform: uppercase;
}